<table id='tops'>
  <tr>
    <td class='top_column' valign='top'>
      <h2><%= t 'top.top_movies' %></h2>

      <% @top_movies.each do |movie| %>
          <%= render_cell :movie, :for_best_top, :movie => movie, :time_interval => @time_interval %>
      <% end %>
    </td>

    <td class='top_column' valign='top'>
      <h2><%= t 'top.worst_movies' %></h2>

      <% @worst_movies.each do |movie| %>
          <%= render_cell :movie, :for_worst_top, :movie => movie, :time_interval => @time_interval %>
      <% end %>
    </td>

    <td class='top_column top_users' valign='top'>
      <h2><%= t 'top.top_users' %></h2>

      <% @top_users.each do |user| %>
        <%= render_cell :user, :for_top, :user => user, :time_interval => @time_interval %>
      <% end %>
    </td>
  </tr>
</table>