<div class="block">
  <p class="title opacity"><%= movie_href(@opinion.movie) %></p>
  <p class='reply opacity'><%= comment_movie(@opinion.movie) %></p>

  <%= movie_image_tag(@opinion.movie, :medium) %>

  <div class="data">
    <table>
      <tr>
        <td style = "height: 59px">
          <%= image_tag rating_image(@opinion) %>
        </td>
        <td>
          [
          <%= user_href(@opinion.user) %>
          ]
          <%= @opinion.text %>
          <a href="<%= opinion_link(@opinion) %>">#</a>
        </td>
      </tr>
    </table>
  </div>
</div>