<div class='block'>
  <p class='reply opacity'><%= comment_movie(@movie) %></p>

  <%= movie_image_tag(@movie, :medium) %>

  <div class='data'>
    <table>
      <tr>
        <td valign='bottom' class = "rating">
          <%= @rate_count %>
          <%= image_tag(@rate_image) %>
        </td>

        <td class = "movie_name">
          <%= movie_href(@movie) %>
        </td>
      </tr>
    </table>
  </div>
</div>
