<div class="navigation">
  <ul>
    <li><%= navigation_link('top') %></li>
    <li><%= navigation_link('timeline') %></li>
    <li><%= navigation_link('about') %></li>
  </ul>

  <ul style = "font-size: 0.7em; margin-bottom: 20px; padding-top: 0px; font-weight: bold">
    <li>
      <a href= "http://twitter.com/home?status=<%= t 'try_it.status' %>"><%= t 'try_it.text' %></a>
    </li>
  </ul>
</div>