<div id="sidebar">
  <h1>Twilike <a class="love" href="http://twitter.com/home?status=i%20%E2%99%A5%20http%3A%2F%2Ftwilike.net%20-%20<%= t "message.love" %>">♥</a><a class="vopros" href="<%= url_for about_url %>">?</a></h1>
  
  <%= render :partial => 'common/navigation' %>

  <%= if @user then
      render :partial => "common/view_switch", :locals => {:view => @view}
  end %>  

  <%= render :partial => "common/search" %>
  
  <%= render :partial => "common/langbar" %>

  <%= render :partial => "common/sidebar_last_opinions" %>
</div>